.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 560px;
  height: 558px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  color:#8a33fd;
  text-align: center;
}

h1{
   color: #191919;
}

p{
    max-width: 448px;
    margin: 0 auto;
    color: #7f7f7f;
}

.btn{
    margin-right: 50px;
}
